<h2>修改密碼</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mb-2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "請輸入新密碼" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field mb-2">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "請再次輸入密碼" %>
  </div>

  <div class="field mb-2">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "請輸入現有密碼" %>
  </div>

  <div class="actions mb-5">
    <%= f.submit "Update", class: "btn btn-success btn-sm" %>
  </div>
<% end %>

<h3>註銷我的帳號</h3>
<div class="mb-2">
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-success btn-sm"  %></p>
</div>
<%= link_to "返回上一頁", :back %>
