<% if @course.errors.any? %>
  <ul>
  <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@course) do |form| %>

  <div class="fields">
    <%= form.label :topic, '課程主題' %>
    <%= form.text_field :topic %>
  </div>

  <div class="fields">
    <%= form.label :price, '價格' %>
    <%= form.number_field :price, min:"0", step: ".01" %>
    <p>價格取至小數點第二位</p>
  </div>

  <div class="fields">
    <%= form.label :currency, '幣別' %>
    <%= form.select :currency, Course::CURRENCY.map{|c|[ display_course_currency(c), c] } %>
  </div>

  <div class="fields">
    <%= form.label :category, '類型' %>
    <%= form.text_field :category %>
  </div>

  <div class="fields">
    <%= form.label :url, '設定網址' %>
    <%= form.text_field :url %>
    <p>限小寫英數字及橫線，將作為網址的一部分</p>
  </div>
  

  <div class="fields">
    <%= form.label :content, '課程描述' %>
    <%= form.text_area :content %>
  </div>

  <div class="fields">
    <%= form.label :validity_period, '課程效期(天)' %>
    <%= form.select :validity_period, [*1..31], include_blank: true %>
  </div>

  <div class="fields">
    <%= form.label :is_available, '是否上架' %>
    <%= form.select :is_available, [['上架', true], ['未上架', false]] %>
  </div>

  <div class="actions">
    <%= form.submit  btn_label %>
  </div>
<% end %>