<%= form_for(@category) do |form| %>

  <div class="mb-3">
    <%= form.label :name, '類型主題' %></br>
    <%= form.text_field :name, class: "form-control", placeholder: "輸入想顯示的類型名稱" %>
  </div>

  <div class="actions">
    <%= form.submit  btn_label, class: "btn btn-success btn-sm" %>
  </div>

<% end %>

<% if @category.errors.any? %>
  <ul>
  <% @category.errors.full_messages.each do |msg| %>
    <li class="msg"><%= msg %></li>
  <% end %>
  </ul>
<% end %>