<h1>類型列表</h1>
<% if current_user.try(:admin?) %>
<%= link_to "新增類型", new_category_path %>
<% end  %>

<table>
  <tr>
    <td>類型</td>
    <% if current_user.try(:admin?) %>
    <td>管理員動作</td>
    <% end  %>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <% if current_user.try(:admin?) %>
    <td><%= link_to '編輯', edit_category_path(category.id) %></td>
    <td><%= link_to '刪除', category_path(category.id), method: 'delete', data: {confirm:"類型 #{category.name} 即將被刪除。所有#{category.name}類型的課程將會變成沒有類型，確定嗎？"} %></td>
    <% end  %>
  </tr>
  <% end %>
</table>

<%= link_to "返回課程列表", courses_path %>